table{
    border-width: 40px;
    height: 140px;
     border-collapse: collapse;
    }
    th{
        height: 20px;
        border: solid black 0.5px;
        background-color: gray;
    }
    td{
        border: solid black 0.5px;
        width: 20px;
     }
   
    